.profile {
    padding-top: 36px;
    display: grid;
    grid-template-columns: max-content max-content 1fr 1fr;
    grid-template-rows: max-content max-content;
    justify-items: start;
    align-items: center;
}

@media screen and (max-width:680px) {
    .profile {
        grid-template-columns: max-content max-content;
        justify-content: center;
    }
}