.profile__subtitle {
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    max-width: 336px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #FFFFFF;
    grid-column-start: 2;
    grid-row-start: 2;
    justify-self: start;
    align-self: start;
}

@media screen and (max-width:680px) {
    .profile__subtitle {
        max-width: 262px;
        margin: 4px 0 0 0;
        font-size: 14px;
        line-height: 17px;
        grid-row-start: 4;
        grid-column-start: 1;
        grid-column-end: 3;
        justify-self: center;
        text-align: center;
    }
}