.container__button-close {
    width: 35px;
    height: 35px;
    position: absolute;
    top: -30px;
    right: -40px;
    background-image: url(../../../images/Close-Icon.svg);
    background-size: cover;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: 0;
}

.container__button-close:hover {
    opacity: 0.6;
}

@media screen and (max-width:400px) {
    .container__button-close {
        top: -45px;
        right: 5px;
        width: 26px;
        height: 26px;
    }
}